nav{
  position: fixed;
}

.titulo{
  color: green;
  text-align: center;
}

.somos{
  text-align: justify;
  padding: 2% 2%;
}

/* section */
#img-thumbnail{
  /* width: 100%; */
  box-sizing: border-box;
  text-align: center !important;  
}

#miniatura{
  text-align: center !important;  
  padding: 2% 0;
}

/* fin de section */


/* footer */
#footer{
  background-color: green;
  /* margin-right: 0; */
  width: 100%;
}

.row{
  width: 100%;
}



#row-contacto{
  width: 100%;
  box-sizing: border-box;
}

#formulario{
  
  padding: 3% 1%;
  height: 50%;
  /* margin-left: 2%; */
  /* box-sizing: border-box; */
  width: 100%;
  
}

#redes{
  padding: 3% 2%;
  /* margin-left: 0; */
  box-sizing: border-box;
}


/* blog */
section{
  padding: 50px 0;
  box-sizing: border-box;
}

.linea{
  border: 2px solid green;
  box-sizing: border-box;
}

.negrita{
  font-weight: bold;
}

.padding-arriba{
  padding-top: 30px;
  box-sizing: border-box;
}

.padding-izquierda{
  padding-left: 8%;
  box-sizing: border-box;
}


/* fin de blog */


/* nosotros.html */
.parrafo-fin{
  padding: 2% 5%;
}

.parrafo-fin2{
  padding: 2% 5%;
}
  
  /* fin de nosotros.html */